%h2 パスワード変更
.col-md-10.form.p32
  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = f.error_notification
    = f.input :reset_password_token, as: :hidden
    = f.full_error :reset_password_token
    .form-inputs
      = f.input :password, label: "新しいパスワード", required: true, autofocus: true
      = f.input :password_confirmation, label: "新しいパスワードをもう一度入力", required: true
    .form-actions
      = f.button :submit, "送信", class: "btn btn-primary", data: { disable_with: t('views.processing') }
= render "devise/shared/links"
